<div class="content">
    <h2>Welcome to DomainSpace, @{{Name}}!</h2>
    <p>Thank you for signing up for DomainSpace! We're thrilled to have you join our community.</p>
    <p>Please confirm your email address to start exploring all the features we have to offer:</p>
    <div style="text-align: center;">
        <a href="@{{ConfirmEmailUrl}}" class="cta-button">Confirm Email</a>
        </div>
    <p>If you did not sign up for DomainSpace, you can safely ignore this email.</p>
    <p>
        Best regards,<br>
        The DomainSpace Team
    </p>
    </div>
